node_modules
.svelte-kit
build
.pnpm-store
pnpm-lock.yaml
*.min.js
*.min.css
target
contract/openapi/openapi.yaml
contract/openapi/openapi.json
packages/api-client/src/schema.d.ts

# vitest coverage output
coverage
**/coverage
